<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Project Login</title>
    <style>
        /* Set the display property to block for the fields */
        /* Alternatively, you can modify this to suit your layout */
        input[type="text"], input[type="password"] {
            display: block;
        }
    </style>
</head>
<body>
    <h2>Project Login</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.username.label_tag }} {{ form.username }}
        <br>
        {{ form.password.label_tag }} {{ form.password }}
        <br>
        <button type="submit">Login</button>
    </form>
</body>
</html>
